<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Eloy'">La persona es Eloy</p>
  <p *ngSwitchCase="'Julian'">La persona es Julian</p>
  <p *ngSwitchCase="'Camilo'">La persona es Camilo</p>
  <p *ngSwitchDefault>La persona no es conocida</p>
</div>

<hr />
<h1>*ngFor arrays</h1>
<div>
  <div *ngFor="let product of products">
    <img width="250" [src]="product.image" [alt]="product.name" />
    <h2>$ {{ product.price }}</h2>
    <p>{{ product.name }}</p>
  </div>
</div>

<hr />
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length == 0">Lista vacía</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}: {{ name }}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<hr />
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name == 'Eloy'">Soy Eloy</p>
<p *ngIf="person.name == 'Pedro' && person.age == 20; else myBlock">
  Soy Pedro
</p>
<ng-template #myBlock>
  <p>Bloque de else</p>
</ng-template>

<hr />
<h1>NgModel</h1>

<h3>Nombre: {{ person.name }}</h3>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid Name: {{ nameInput.valid }}</p>
<h3>Edad: {{ person.age }}</h3>
<input
  type="number"
  max="60"
  min="18"
  required
  #ageInput="ngModel"
  [(ngModel)]="person.age"
/>
<p>Valid Age: {{ ageInput.valid }}</p>

<hr />
<h1>Eventos</h1>
<h3>Hola, soy {{ person.name }} y tengo {{ person.age }} años</h3>

<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>

<p>Edad: {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, magnam.
    Enim architecto nostrum voluptas error vel quibusdam cupiditate, natus
    impedit dolore iusto cum ullam voluptates repellat repellendus placeat ipsum
    possimus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe
    voluptate nobis cumque distinctio quam cum dolores exercitationem ipsum amet
    aliquam voluptatum, minus possimus maxime eligendi non asperiores tempora
    facere animi. Lorem ipsum dolor sit, amet consectetur adipisicing elit.
    Nulla praesentium unde rerum corrupti architecto fuga beatae, illum possimus
    odit excepturi error vel officia ex quibusdam totam hic nesciunt repudiandae
    deleniti?
  </p>
</div>

<hr />
<h1>Propiedades</h1>

<button [disabled]="btnDisabled">Enviar</button>
<progress [value]="person.age" max="100"></progress>
<img [src]="person.avatar" width="100" />
<hr />
<h1>Hola mundo</h1>

<h2>{{ " Hola Mundo ".repeat(4) }}</h2>
<p>3 + 3 + 1 ={{ 3 + 3 + 1 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }} años</h3>
<img [src]="img" alt="random image" />
